body {
  background-color: #cacfd6;
  margin: 0;
  padding: 0;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  line-height: 1.5;
}

header {
  background-color: #DCD6F7;
  color: #424874;
  padding: 10px;
  display: flex;
  flex-direction: column; /* Adjusted this line */
  align-items: center;
}

.header-content {
  margin-bottom: 10px; /* Added this line for spacing */
}

header h1 {
  margin: 0;
}

nav ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

nav li {
  display: inline-block;
  margin-right: 20px;
}

nav a {
  color: #fff;
  text-decoration: none;
  font-weight: bold;
  font-size: 16px;
  transition: color 0.3s ease-in-out;
}

nav a:hover {
  color: #424874;
}

.hero-banner {
  background-color: #DCD6F7;
  text-align: center;
  padding: 30px 0;
}

.hero-banner h2 {
  color: #424874;
}

.page-wrapper {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
}

.page-section {
  margin-bottom: 40px;
}

.page-section h2 {
  color: #333;
}

.page-section#work {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.portfolio-item {
  flex: 0 0 calc(50% - 20px);
  margin-bottom: 20px;
  height: 200px; /* Adjust the height as needed */
  display: flex;
  flex-direction: column;
}

.portfolio-item img {
  width: 100%;
  height: 100%;
  object-fit: flex;
  border: 1px solid #ddd;
  border-radius: 4px;
}

.portfolio-item h3 {
  margin: 10px 0;
  color: #333;
}

.portfolio-item p {
  color: #666;
  flex-grow: 1; /* This will make the description take up the available space */
}

.contact-bar {
  background-color: #424874;
  color: #fff;
  padding: 10px;
  text-align: center;
}

.contact-links {
  display: flex;
  justify-content: center;
  gap: 20px;
}

.contact-links a {
  color: #fff;
  text-decoration: none;
  font-weight: bold;
  font-size: 16px;
  transition: color 0.3s ease-in-out;
}

.contact-links a:hover {
  color: #ccc;
}

a {
  color: #19a654;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}
